*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.index{
    background-image: url(https://media.vogue.mx/photos/5ef8a63d7e00038f7ed115d9/master/w_3000,h_2001,c_limit/aceite-de-oliva--en-bowl.jpg);
    background-size: cover;
}
.ubicacion{
    background-image: url(https://imagekit.androidphoria.com/wp-content/uploads/Poner-ubicaci%C3%B3n-falsa-WhatsApp.jpg);
    background-size: cover;
}
.producto{
    background-image: url(https://i.ibb.co/y6LmjFh/Whats-App-Image-2022-05-24-at-5-27-28-PM.jpg);
    background-size: cover;
}
.contacto{
    background-image: url(https://i.ibb.co/7t9Hvjk/branch-of-olive-with-fruits-and-flowers-hand-drawn-sketch-botanical-illustrations-decorative-set-vec.jpg);
    background-size: 100%;
}
h1{
    color: black;
    background-color: rgb(173, 143, 63);
    text-align: center;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-radius: 10px;
    padding: 5px;
}
nav{
    background-color: blanchedalmond;
    border-radius: 10px;
    border: 3px solid rgb(79, 99, 29);
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 10px;
}
nav ul li a{
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: 600;
    text-align: center;
    width: 100%;
    text-decoration: none;
}
.principal img{
    width: 300px;
    border-radius: 20px;
    margin: 10px;
    border: 3px solid rgb(173, 143, 63);
}
.subtitulo{
    color: darkolivegreen;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    width: max-content;
    text-align: center;
    font-size: 100;
    font-weight: 400;
    margin: 10px;
    border: 5px solid rgb(79, 99, 29);
    border-radius: 20px;
    padding: 5px;
}
.descripcion{
    color: rgb(79, 99, 29);
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    text-align: center;
    font-size: 80;
    margin: 10px;
    border: 5px solid rgb(79, 99, 29);
    border-radius: 20px;
    padding: 5px;
}
footer{
    color: black;
    background-color: rgb(173, 143, 63);
    text-align: center;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
    bottom: 0%;
    position: fixed;
    width: 100%;
}
.formulario{
    background-color: blanchedalmond;
    width: 20%;
    text-align: center;
    border: 5px solid rgb(79, 99, 29);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
.formulario fieldset legend h2{
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 150%;
}
.contacto main form{
    display: flex;
    justify-content: center;
}
.introduccion{
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;

}
.desarrollo{
    color: darkolivegreen;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
.indicaciones{
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: center;
    background-color: blanchedalmond;
}
.maps{
    width: 300px;
    border-radius: 20px;
}
.unlt{
    color: darkolivegreen;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.unlt img{
    width: 200px;
    border-radius: 10px;
    border: 2px solid rgb(173, 143, 63);
    margin: 10px;
}
.doslt{
    color: darkolivegreen;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.doslt img{
    width: 200px;
    border-radius: 10px;
    border: 2px solid rgb(173, 143, 63);
    margin: 10px;
}
.treslt{
    color: darkolivegreen;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.treslt img{
    width: 200px;
    border-radius: 10px;
    border: 2px solid rgb(173, 143, 63);
    margin: 10px;
}
.cincolt{
    color: darkolivegreen;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.cincolt img{
    width: 200px;
    border-radius: 10px;
    border: 2px solid rgb(173, 143, 63);
    margin: 10px;
}
.pieDeFoto{
    border: 4px solid rgb(79, 99, 29);
    background-color: blanchedalmond;
    width: max-content;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
.comprar{
    color: darkolivegreen;
    border: 2px solid rgb(79, 99, 29);
    background-color: blanchedalmond;
    width: max-content;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}