.carrito{
    background-image: url(https://i.ibb.co/7t9Hvjk/branch-of-olive-with-fruits-and-flowers-hand-drawn-sketch-botanical-illustrations-decorative-set-vec.jpg);
    background-size: cover;
}
@mixin propiedadesTipo ($tamañoLetra,$margen,$tipoLetra,$alignText) {
    font-size: $tamañoLetra;
    margin: $margen;
    font-family: $tipoLetra;
    text-align: $alignText;
}
.tipo{
    @include propiedadesTipo(100%,50px ,(Arial,Helvetica, sans-serif) ,center);
    color: $colorPrimario;
    img{
        width: 250px;
        height: 320px;
        border-radius: 10px;
        border: 2px solid $colorSecundario;
        margin: 10px;
        transition: all 1s;
    }
    .comprar{
        color: $colorPrimario;
        border: map-get($boton , bordes);
        background-color: $colorTerciario;
        width: map-get($boton , ancho);
        border-radius: map-get($boton , radio);
        margin: map-get($boton , margen);
        padding: map-get($boton , padding);
    }
    .pieDeFoto{
        font-size: 20px;
        border: 4px solid $colorPrimario;
        background-color: $colorTerciario;
        width: max-content;
        border-radius: 10px;
        margin: 10px;
        padding: 5px;
        transition: all 1s;
    }
    .img1:hover{
        transform: translate(20px,10px) rotate(360deg);
    }
    .img2:hover{
        transform: rotateX(360deg);
    }
    .img3:hover{
        transform: rotateY(360deg);
    }
    .img4:hover{
        transform: skew(10deg);
    }
}


