* {
  margin: 0%;
  padding: 0%; }

.index {
  background-image: url(https://media.vogue.mx/photos/5ef8a63d7e00038f7ed115d9/master/w_3000,h_2001,c_limit/aceite-de-oliva--en-bowl.jpg);
  background-size: 100%; }

h1 {
  color: black;
  width: 100%;
  background-color: #ad8f3f;
  text-align: center;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  border-radius: 10px;
  padding: 5px; }

.imgPrincipal {
  width: 300px;
  border-radius: 20px;
  border: 3px solid #ad8f3f; }

.subtitulo, .descripcion {
  color: #4f631d;
  background-color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
  text-align: center;
  font-size: 100;
  font-weight: 400;
  border: 3px solid #4f631d;
  border-radius: 20px; }

.descripcion {
  width: 100%;
  height: auto; }

.redes {
  margin: 20px; }
  .redes a img {
    width: 80px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: white; }
    .redes a img:hover {
      background-color: aqua; }

nav {
  background-color: blanchedalmond;
  border-radius: 10px;
  border: 3px solid #4f631d;
  width: 100%; }
  nav ul li a {
    color: #4f631d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: 600;
    text-align: center;
    width: 100%;
    text-decoration: none; }

footer {
  color: black;
  background-color: #ad8f3f;
  text-align: center;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
  bottom: 0%;
  width: 100%; }

.contacto {
  background-image: url(https://i.ibb.co/7t9Hvjk/branch-of-olive-with-fruits-and-flowers-hand-drawn-sketch-botanical-illustrations-decorative-set-vec.jpg);
  background-size: 100%; }

.formulario {
  background-color: blanchedalmond;
  width: 100%;
  height: auto;
  text-align: center;
  border: 5px solid #4f631d;
  border-radius: 10px;
  margin: 10px;
  padding: 5px; }
  .formulario fieldset {
    padding: 5px; }
  .formulario fieldset input {
    width: 300px;
    transition: 1s; }
    .formulario fieldset input:focus {
      outline: none;
      width: 400px;
      border: 2px solid #4f631d;
      border-radius: 10px; }
  .formulario fieldset legend h2 {
    color: #4f631d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%; }

.footerContacto {
  position: fixed;
  bottom: 0%; }

.producto {
  background-image: url(https://i.ibb.co/y6LmjFh/Whats-App-Image-2022-05-24-at-5-27-28-PM.jpg);
  background-size: 100%; }

.productos .introduccion {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: left;
  background-color: rgba(255, 235, 205, 0.76);
  border: 3px solid #ad8f3f;
  border-radius: 10px; }

.productos .desarrollo {
  color: black;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgba(255, 235, 205, 0.76);
  border: 3px solid #ad8f3f;
  border-radius: 10px; }

.ubicacion {
  background-image: url(https://imagekit.androidphoria.com/wp-content/uploads/Poner-ubicaci%C3%B3n-falsa-WhatsApp.jpg);
  background-size: 100%; }

.contenedor .indicaciones {
  color: #4f631d;
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  text-align: center;
  background-color: blanchedalmond;
  border: 3px solid #4f631d;
  border-radius: 20px; }

.contenedor .maps {
  width: 300px;
  border-radius: 20px;
  border: 5px solid #4f631d;
  margin-top: 50px;
  margin-bottom: 20px; }

.contenedor .googleMaps {
  margin: 30px; }
  .contenedor .googleMaps img {
    width: 80px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px; }
    .contenedor .googleMaps img:hover {
      background-color: aqua; }

.carrito {
  background-image: url(https://i.ibb.co/7t9Hvjk/branch-of-olive-with-fruits-and-flowers-hand-drawn-sketch-botanical-illustrations-decorative-set-vec.jpg);
  background-size: 100%; }

.tipo {
  font-size: 100%;
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 3px solid #4f631d;
  border-radius: 10px;
  color: #4f631d;
  background-color: #ad8f3f;
  width: max-content; }
  .tipo img {
    width: 250px;
    height: 320px;
    border-radius: 10px;
    border: 2px solid #4f631d;
    margin: 10px;
    transition: all 1s; }
  .tipo .comprar {
    color: #4f631d;
    border: 2px solid #4f631d;
    background-color: blanchedalmond;
    width: max-content;
    border-radius: 10px;
    margin: 10px;
    padding: 5px; }
  .tipo .pieDeFoto {
    font-size: 20px;
    border: 4px solid #4f631d;
    background-color: blanchedalmond;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    transition: all 1s; }
  .tipo .img1:hover {
    transform: translate(20px, 10px) rotate(360deg); }
  .tipo .img2:hover {
    transform: rotateX(360deg); }
  .tipo .img3:hover {
    transform: rotateY(360deg); }
  .tipo .img4:hover {
    transform: skew(10deg); }
